.top-catalog {
  background-image: url(./images/—Åatalog-fon.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


  &__hero {
    padding-top: 127px;
    padding-bottom: 126px;
    color: white;
  }

  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    max-width: 792px;
    margin-bottom: 16px;
  }
}

.catalog-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 41px;
  gap: 10px;

  &__breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
}

.catalog {

  &-item {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
  }

  &-item:hover {
    color: $colordarkgray;
  }

  &-controls__filters {
    gap: 10px;
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  &-controls__filter-summary {
    background: #C4C4C4;
    width: 182px;
    height: 40px;
    opacity: 1;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px 40px 10px 23px;
    font-size: 16px;
    background-color: white;
    background-image: url(./images/arrow.png);
    background-position: calc(100% - 15px) center;
    background-size: 12px;
    background-repeat: no-repeat;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: 500;
  }

  &-controls__sort-select {
    font: inherit;
    background: #C4C4C4;
    width: 227px;
    height: 40px;
    opacity: 1;
    border-radius: 20px;
    border-width: 1px;
    appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    background-image: url(./images/arrow.png);
    background-position: calc(100% - 20px);
    background-size: 15px;
    background-repeat: no-repeat;
    left: 23px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
  }

  &-controls__sort-select::-webkit-details-marker {
    display: none;
  }
}

.show-more {
  padding-top: 32px;
  padding-bottom: 64px;

  &__url {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
  }

  &__url:hover {
    color: $colordarkgray;
  }
}



.filter {
  width: 445px;
  height: 468px;
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;


  &-button {
    background: #C4C4C4;
    width: 182px;
    height: 40px;
    opacity: 1;
    border-radius: 20px;
    border-width: 1px;
    appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border-radius: 16px;
    background-image: url(./images/arrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    background-size: 15px;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__content {
    display: grid;
    grid-template-columns: 190.5px 190.5px;
    gap: 32px;
    height: 330px;
    box-sizing: border-box;
  }

  &__fieldset:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    width: 136px;
    height: 177px;
    margin: 0;
    padding: 0;
    border: none;
  }

  &__fieldset:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
    width: 190.5px;
    height: 73px;
    gap: 14px;
    margin: 0;
    padding: 0;
  }

  &__fieldset:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
    width: 189px;
    height: 78px;
    gap: 14px;
    padding: 0;
    border: none;
  }

  &__fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-shadow: none !important;
  }

  &__fieldset--type {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 190px;
    height: 330px;
    margin: 0;
    padding: 0;
    border: none;
    margin-left: 40px;
  }

  &__submit-button {
    width: 190px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(4, 4, 4, 1);
    border-radius: 20px;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0;
  }

  &__submit-button:hover {
    background: black;
    color: white;
  }

  &__legend {
    border: none !important;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000;
    width: 100%;
    text-align: left;
    padding: 0 !important;
    font-weight: bold;
  }

  &__radio {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    min-height: 16px;
  }

  &__radio-label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #888888;
    border-radius: 50%;
    position: absolute;
    left: 0;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }


  &__radio-input:checked+&__radio-label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
  }

  &__radio-input:checked+&__radio-label::before {
    background-image: url("images/Vector 1.svg");
    border-color: #000;
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .filter__radio-input:checked+.filter__radio-label::after {
    content: none;
  }

  &__radio-input:checked+&__radio-label::after {
    content: none;
  }

  &__range {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__range-input {
    width: 190px;
    height: 10px;
    overflow: hidden;
    outline: none;
  }

  &__range-input,
  &__range-input::-webkit-slider-runnable-track,
  &__range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }

  &__range-input::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #000;
  }

  &__range-input:nth-child(2n)::-webkit-slider-runnable-track {
    background: none;
  }

  &__range-input::-webkit-slider-thumb {
    position: relative;
    height: 8px;
    width: 8px;
    margin-top: -4px;
    background: #000;
    border: 1px solid #000;
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
  }

  &__range-input::-webkit-slider-thumb:active {
    cursor: grabbing;
  }

  &__range-input:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
  }

  &__range-slider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
  }

  &__range-slider input {
    position: absolute;
  }

  &__range-label {
    font-size: 14px;
  }

  &__color-options {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    max-width: 200px;
  }

  &__color-option {
    width: 15px;
    height: 15px;
    position: relative;
  }

  &__color-option &__checkbox-input {
    display: none;
  }

  &__color-option &__checkbox-label {
    padding: 0 !important;
    margin: 0;
    display: block;
    width: 15px;
    height: 15px;
    position: relative;
    cursor: pointer;
  }

  &__color-option &__checkbox-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: var(--color);
    box-sizing: border-box;
    transition: all 0.3s ease;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    min-height: 20px;
  }

  &__checkbox-label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
    box-sizing: border-box;
  }

  &__checkbox-label--type::before {
    border: 1px solid #888888;
  }

  &__checkbox-input:checked+&__checkbox-label::before {
    background-image: url("images/Vector 1.svg");
    border-color: #000;
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__checkbox-label--black {
    --color: #000;
  }

  &__checkbox-label--white {
    --color: #fff;
  }

  &__checkbox-label--gray {
    --color: #737373;
  }

  &__checkbox-label--red {
    --color: #f00;
  }

  &__checkbox-label--orange {
    --color: #ff4500;
  }

  &__checkbox-label--yellow {
    --color: #ff0;
  }

  &__checkbox-label--green {
    --color: #008000;
  }

  &__checkbox-label--teal {
    --color: #40e0d0;
  }

  &__checkbox-label--light-blue {
    --color: #009fe3;
  }

  &__checkbox-label--blue {
    --color: #00f;
  }

  &__checkbox-label--purple {
    --color: #800080;
  }

  &__checkbox-label--violet {
    --color: #8a2be2;
  }

  &__checkbox-label--lavender {
    --color: #d89aff;
  }

  &__checkbox-label--pink {
    --color: #ff1493;
  }

  &__checkbox-label--white::before {
    border: 1px solid #ccc !important;
    background: #fff;
  }

  &__color-option &__checkbox-input:checked+&__checkbox-label--black::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--blue::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--purple::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--gray::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--violet::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--green::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--teal::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__color-option &__checkbox-input:checked+&__checkbox-label--white::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--yellow::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--orange::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--lavender::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--pink::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--light-blue::before,
  &__color-option &__checkbox-input:checked+&__checkbox-label--red::before {
    background-image: url("images/Vector 1.svg");
    background-size: 8px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.catalog-controls__filter-details {
  position: relative;
  display: inline-block;
  width: 182px;


  &[open] .catalog-controls__filter-summary {
    background-image: url(./images/arrow-up.png);
    transform: rotate(0deg);
  }

  & summary {
    list-style: none;
  }

  & summary::-webkit-details-marker {
    display: none;
  }

  & summary:focus {
    outline: none;
  }

  &[open] .catalog-controls__sort-select {
    background-image: url(./images/arrow-up.png);
  }

  .catalog-controls__filter-content {
    animation: fadeIn 0.3s ease;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 540px;
    height: 548px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 40px 48px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    box-sizing: border-box;
  }

}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.show {
  padding-top: 32px;
  padding-bottom: 64px;


  &__url {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
  }

  &__url:hover {
    color: $colordarkgray;
  }
}

@import 'mobile';
@import 'tablet';


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .filter__content {
    grid-template-columns: 1fr;
  }

  .filter__fieldset--type {
    grid-column: 1;
    grid-row: auto;
    margin-left: 0;
  }

  .filter__submit-button {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    justify-self: center;
  }

  .catalog-controls__filter-content {
    width: 300px !important;
    padding: 20px;
    height: auto;
  }

  .catalog-controls {
    flex-direction: column;
    gap: 16px;
  }
}