@media(max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;
        height: 57px;

        &__navigation {
            border: none;
        }

        &-input {
            display: none;
        }

        &__catalog {
            display: none;
        }

        &-tittle {
            font-size: 18px;
        }

        &-mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .top-catalog {
        &__title {
            display: flex;
            font-size: 48px;
            justify-content: center;
        }
    }

    .hero-page {
        &__title {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
        }

        &__subtitle {
            font-size: 16px;
            line-height: 32px;
            text-align: center;
        }

        &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
        }
    }

    .heading {
        font-size: 24px;
        line-height: 29px;
    }

    .special {
        padding-top: 32px;

        &-title {
            font-size: 24px;
        }

    }

    .content {
        &__title {
            font-size: 24px;
        }
    }

    .product {
        width: 343px;
        &-content {
            padding-bottom: 36px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 3.8px;
        }

        &__text {
            font-size: 14px;
            margin-bottom: 8px;
        }

        &__price {
            font-size: 18px;
            padding-bottom: 0px !important;

            &-old {
                font-size: 18px;
            }
        }
    }


    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &-box {
            padding-top: 32px;
        }

        &__item {
            grid-column: 1 / -1;
            font-size: 28px;
            line-height: 34px;
            background-size: cover !important;
        }
    }

    .catalog {
        padding-top: 36px;
        padding-bottom: 32px;

        &-item {
            font-size: 14px;
        }

        &-controls {
            align-items: flex-start;
            padding-top: 32px;

            &__filters {
                flex-direction: column;
                gap: 12px;
            }

            &__filter-content {
                width: 287px !important;
                height: 910px !important;
                padding: 20px !important;
                left: 0 !important;
                right: auto !important;
            }

            &__filter-details {
                width: 100% !important;
            }

            &__filter-details[open] .catalog-controls__filter-content {
                left: 0 !important;
                transform: translateX(0) !important;
            }

        }

        &-controls__sort {
            order: 1;
        }

        &-controls__filter-details {
            order: 2;
        }


        &-controls__filter-summary {
            width: 164px !important;
            font-size: 14px;
            height: 36px;
        }

        &-controls__sort-select {
            width: 203px !important;
            font-size: 14px;
            height: 36px;
        }
    }

    .filter {
        width: 100% !important;
        height: auto !important;
        display: flex;
        justify-content: center;


        &__form {
            width: 100%;
            height: auto;
        }

        &__content {
            width: 190.5px !important;
            height: 754px !important;
            display: flex !important;
            flex-direction: column !important;
            gap: 5px !important;
            margin: 0 auto !important;
        }

        &__fieldset {
            width: 100% !important;
            height: auto !important;
            margin: 0 !important;
            padding: 0 !important;
        }

        &__fieldset:nth-child(1),
        &__fieldset:nth-child(2),
        &__fieldset:nth-child(3),
        &__fieldset--type {
            grid-column: 1 !important;
            grid-row: auto !important;
            width: 100% !important;
            height: auto !important;
            margin-left: 0 !important;
            margin-bottom: 20px !important;
        }


        &__color-options {
            max-width: 190px !important;
            justify-content: center !important;
        }


        &__submit-button {
            position: relative !important;
            bottom: -20px !important;
            right: -30px !important;
        }
    }

    .show {
        padding-bottom: 32px;
    }

    .cart {
        grid-template-columns: 1fr !important;
        gap: 20px !important;
        margin-top: 32px !important;
        padding-bottom: 32px !important;

        &__content {
            grid-column: 1 !important;
            width: 100% !important;
        }

        &__name-box {
            display: none !important;
        }

        &__img {
            display: none !important;
        }

        &__item {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: flex-start !important;
            gap: 16px !important;
            padding: 20px 0 !important;
            position: relative !important;
        }

        &__left {
            width: auto !important;
            gap: 0 !important;
            flex-direction: column !important;
            align-items: flex-start !important;
        }

        &__info {
            width: auto !important;
            gap: 0 !important;
            margin-bottom: 15px !important;
        }

        &__title {
            font-size: 18px !important;
            text-align: left !important;
            margin-bottom: 15px !important;
        }

        &__text {
            font-size: 12px !important;
            text-align: left !important;
            width: 253px !important;
            height: auto !important;
            margin-bottom: 15px !important;
        }

        &__price {
            font-size: 12px !important;
            text-align: left !important;
            justify-content: flex-start !important;
            margin-bottom: 15px !important;
        }

        &__url {
            font-size: 14px !important;
            text-align: left !important;
            padding-right: 30px !important;
        }


        &-number-container {
            position: relative !important;
            display: inline-block !important;
            align-self: flex-start !important;
        }

        &-number-container::before {
            position: absolute !important;
            top: 10px !important;
            right: 12px !important;
            width: 12px !important;
            height: 12px !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='black'%3E%3Cpath d='M6 3L9 6L3 6L6 3Z'/%3E%3C/svg%3E") !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            cursor: pointer !important;
            pointer-events: none !important;
            content: "" !important;
        }

        &-number-container::after {
            position: absolute !important;
            bottom: 10px !important;
            right: 12px !important;
            width: 12px !important;
            height: 12px !important;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='black'%3E%3Cpath d='M6 9L3 6L9 6L6 9Z'/%3E%3C/svg%3E") !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            cursor: pointer !important;
            pointer-events: none !important;
            content: "" !important;
        }

        &-number {
            width: 71px !important;
            height: 51px !important;
            border-radius: 6px !important;
            background: rgba(247, 246, 246, 1) !important;
            text-align: center !important;
            font-family: 'Poppins', sans-serif !important;
            font-size: 14px !important;
            font-weight: 600 !important;
            line-height: 21px !important;
            color: rgba(0, 0, 0, 1) !important;
            border: none !important;
            box-sizing: border-box !important;
        }

    &__buttons-container {
        flex-direction: row !important;
        justify-content: center !important;
        width: 100% !important;
        padding-top: 20px !important;
        gap: 16px !important;
        padding-bottom: 32px;
    }

    &__button-clear {
        width: 166px !important;
        height: 37px !important;
        margin: 0 !important;
        font-size: 12px !important;
    }

    &__button-continue {
        width: 163px !important;
        height: 37px !important;
        margin: 0 !important;
        font-size: 12px !important;
    }

    &__form {
        grid-column: 1 !important;
        width: 343px !important;
        height: 556px !important;
        margin: 0 auto !important;
    }

    &__form-text {
        font-size: 24px !important;
        padding-top: 30px !important;
    }

    &__data {
        width: 288px !important;
        height: 143px !important;
        padding: 20px !important;
        margin: 0 auto !important;
        margin-bottom: 64px !important;
    }

    &__data-input {
        width: 100% !important;
        max-width: 288px !important;
        margin-bottom: 15px !important;
    }

    &__data-input:last-of-type {
        margin-bottom: 64px !important;
    }

    &__final {
        padding-top: 30px !important;
        padding-bottom: 15px !important;
    }

    &__final-price {
        font-size: 24px !important;
        flex-direction: row !important;
        justify-content: center !important;
        gap: 8px !important;
    }

    &__final-label,
    &__final-number {
        font-size: 24px !important;
    }

    &__button {
        width: 100% !important;
        justify-content: center !important;
    }

    &__button-text {
        width: 290px !important;
        height: 41px !important;
        margin: 0 auto !important;
    }
    }



    .footer {
        &__info {
            gap: 100px;
            padding-right: 0px;
        }

        &__logo {
            display: none;
        }

        &__content {
            justify-content: center;
            gap: 34px;
        }

        &__subscribe {
            padding-top: 0px;
        }
    }
}