@media(min-width: 769px) and (max-width: 1024px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .header {

        &-search {
            gap: 65px !important;
        }
    }

    .for {
        &__item {
            height: 266px;

            &-big {
                height: 268px;
            }
        }

    }

    .product {
        &-content {
            gap: 29px;
        }

        &__price {
            padding-bottom: 0px !important;
        }
    }



    .catalog-controls__filter-content {
        left: -124px !important;
    }




    .catalog-controls__filter-content {
        position: absolute;
        top: 100%;
        right: 0;
        left: auto;
        width: 400px;
        z-index: 1000;
    }


    .content-box {
        gap: 29px !important;
    }


    .cart {
        display: block;
    }

    .cart__content {
        width: 100%;
    }

    .cart__form {
        width: auto;
        max-width: 376px;
        margin-top: 64px;
        margin-left: 0;
    }


    .footer {
        &__logo {
            display: none;
        }

        &__menu {
            padding-left: 25px !important;
        }

        &__info {
            gap: 0px;
            padding-right: 0px;
            padding-bottom: 58px;
        }

         &__content {
            justify-content: center;
        }


        &__menu {
            gap: 12px;
            padding-right: 118px;
        }
    }
}