$colorwhite: white;
$colordarkwhite: rgb(247, 246, 246);
$colorlightgray: rgb(196, 196, 196);
$colorgray: rgba(222, 215, 215, 0.41);
$colordarkgray: rgb(136, 136, 136);
$colorblack: black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "serif";
}


.buuton {
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  padding: 10px 23px;
  cursor: pointer;
  background-color: #fff;
}

.hero-page {
  background-image: url(./images/bg-hero.jpg);
  height: 735px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__wraper {
    padding-top: 64px;
    padding-bottom: 367px;
    color: $colorwhite;
  }

  &__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
    max-width: 792px;
    margin-bottom: 16px;
  }

  &__subtitle {
    margin-bottom: 16px;
    color: $colorwhite;
    font-size: 24px;
    line-height: 32px;
  }

  &__link {
    color: $colorwhite;
    font-size: 16px;
    text-decoration-line: underline;
    
    &:hover {
      color: $colordarkgray;
    }
  }
}

.header {
  &__navigation {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid $colorwhite;
  }

  &-search {
    display: flex;
    justify-content: space-between;
    gap: 272px;
    padding: 17.5px 0 17px;
  }

  &-tittle {
    color: $colorwhite;
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    
    &:hover {
      color: $colorblack;
    }
  }

  &-input {
    width: 288px;
    height: 41px;
    border: 1px solid $colorwhite;
    border-radius: 20px;
    background: transparent;
    color: $colorwhite;
    font-size: 16px;
    padding: 10.5px 32px;

    &::placeholder {
      color: $colorwhite;
    }
  }

  &__catalog {
    display: flex;
    gap: 32px;
    padding: 28px 0;
  }

  &__link {
    color: $colorwhite;
    font-size: 16px;
    text-decoration: none;
    
    &:hover {
      color: $colorblack;
    }
  }

  &-mob {
    display: none;
  }

}

.heading {
  color: $colorblack;
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
}

.for {
  margin-top: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);

  &-box {
    padding-top: 64px;
  }

  &__item {
    height: 415px;
    grid-column: span 4;
    color: $colorwhite;
    font-size: 34px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &-big {
      grid-column: span 6;
    }

    &_1 { background-image: url(./images/light-gray-sofa.png); }
    &_2 { background-image: url(./images/wooden-chair.png); }
    &_3 { background-image: url(./images/kitchen.png); }
    &_4 { background-image: url(./images/bedroom.png); }
    &_5 { background-image: url(./images/bathroom.png); }
  }
}

.special {
  padding-top: 64px;

  &-title {
    color: $colorblack;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
  }
}

.product {
  width: 378px;
    position: relative;

  &-content {
    padding: 32px 0 64px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__img {
    width: 100%;
    height: 250px;
  }

  &__img-container{
    position: relative;
  width: 100%;
  }

   &__actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 21px; 
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }

  &__checkbox {
    display: none;
  }

  &__action-btn {
    background: none; 
    border: none;
    width: 24px; 
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0; 
    transition: all 0.3s ease;
    
    svg {
      transition: fill 0.3s ease;
      fill: #C4C4C4; 
      height: 100%;
    }

    &:hover {
      transform: scale(1.1); 
    }
  }

    &__checkbox:checked + &__action-btn svg {
    fill: #000000 !important; 
  }

  
  &:hover .product__actions {
    opacity: 1;
    transform: translateY(0);
  }


  &__title {
    color: $colorblack;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin: 10px 0 9px;
  }

  &__text {
    color: $colordarkgray;
    font-size: 14px;
    line-height: 1.2; 
    margin-bottom: 12px;
  }

  &-box {
    display: flex;
    gap: 32px;
  }

  &__price {
    color: $colorblack;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 24px;

    &-old {
      color: $colordarkgray; 
      text-decoration: line-through;
    }
  }
}

.content {
  &-head {
    padding-bottom: 32px;
  }

  &__title {
    color: $colorblack;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
  }

  &-box {
    display: flex;
    gap: 33px;
    flex-wrap: wrap;
  }
}

.catalog {
  padding: 31px 0 64px;

  &__url {
    color: $colorblack;
    font-size: 16px;
    text-decoration: underline;
    
    &:hover {
      color: $colordarkgray;
    }
  }
}

.footer {
  background: $colordarkwhite;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 27px;

  &-tittle {
    color: $colorblack;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    
    &:hover {
      color: $colordarkgray; 
    }
  }

  &__logo {
    padding-top: 17px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 17px;
  }

  &__info {
    display: flex;
    gap: 129px;
    padding-right: 192px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__subtitle,
  &__contact {
    color: $colorblack;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
  }

  &__item,
  &__contact-item {
    color: $colordarkgray;
    font-size: 14px;
    text-decoration: none;
    
    &:hover {
      color: $colorblack;
    }
  }

  &__vectors {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon:hover {
    path {
      fill: $colorblack;
    }
  }

  &__subscribe {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 6px;
  }

  &__text {
    color: $colorblack;
    font-size: 12px;
    line-height: 1;
  }

  &__input {
    width: 260px;
    height: 40px;
    border: 1px solid $colorlightgray;
    border-radius: 16px;
    background: $colorwhite;
    padding: 12px 17px;
    color: $colorlightgray;
    font-size: 12px;  
  }

  &__button {
    width: 260px;
    height: 40px;
    border-radius: 16px;
    background: $colorgray;
    color: $colorblack;
    font-size: 12px;
    border: none;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: $colorblack;
      color: $colorwhite; 
    }
  }
}



@import 'basket';
@import 'catalog';

@media(min-width: 1025px) {
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
}